section{
  margin: 100px;
  background-color: #eee5e5;
}

.block{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 4px;
}

.item{
  background-color: #ffa;
}

.item1{
  background-color: #faa;
  /* 1 */
  /* grid-column: 1 / 6; */
  /* grid-column: 1 / span 5;
  grid-row: 1 / 3; */

  /* 2 */
  /* grid-area: 1 / 1 / 3 / 6; */

  /* 3 */
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;

  z-index: 1;
}

.item2{
  background-color: #afa;
  grid-column: 2 / 7;
  grid-row: 2 / 3;
  /* grid-column-start: span 4; */
}

.wrap{
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 10px;
  /* justify-content: space-between; */
  /* align-content: center; */
  /* align-items: center; */
  justify-items: center;
}

.box{
  font-size: 50px;
  height: 100px;
}

.box1{
  background-color: #ffa;
}

.box2{
  background-color: #faf;
  margin: auto;
}

.box3{
  background-color: #afa;
}

.container{
  /* margin: 100px auto; */
  /* width: 960px; */
  height: 600px;
  display: grid;
  /* grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 50% 50%; */
  grid-template-areas:
    "hh hh hh hh hh hh hh"
    "ss . mm mm mm mm mm"
    "ss . mm mm mm mm mm"
    "ss ff ff ff ff ff ff";
  gap: 20px;
  /* grid-template-columns: 20% 80%;
  grid-template-rows: 100px auto 100px; */
}

header{
  grid-area: hh;
  background-color: #aaf;
}

aside{
  grid-area: ss;
  background-color: #faa;
}

main{
  grid-area: mm;
  background-color: #afa;
}

footer{
  grid-area: ff;
  background-color: #ffa;
}










.card{
  background-color: #aaf;
  /* width: calc(25% - 15px); */
  position: relative;
}

.card-img{
  aspect-ratio: 4 / 3;
  width: 100%;
  object-fit: cover;
}

.card-content{
  padding: 10px;
}

.sale{
  position: absolute;
  background-color: red;
  color: white;
  top: 20px;
  left: -10px;
  z-index: 2;
}

.sale::before{
  content: "";
  position: absolute;
  /* bottom: -10px; */
  top: 100%;
  border-right: 10px solid rgb(165, 11, 11);
  border-top: none;
  border-bottom: 10px solid transparent;
  border-left: none;
}

.img-wrap{
  overflow: hidden;
  position: relative;
}

.hot::after{
  content: "HOT";
  position: absolute;
  padding: 2px 20px;
  background-color: #eded92;
  top: 10px;
  right: -10px;
  transform: rotate(45deg);
}