section{
  margin: 100px;
}

h1{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.title::before{
  content: "這是 before";
  color: #fa0;
}

.title::after{
  content: "這是 after";
  color: #af0;
}

.course{
  font-size: 48px;
  position: relative;
  line-height: 1;
}

.course::before{
  content: "";
  width: 80px;
  height: 2px;
  background-color: #ff0000;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}

.line{
  /* width: 80px;
  height: 2px;
  background-color: #ff0000;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%); */
}

.btn{
  padding: 20px;
  background-color: #faa;
  position: relative;
}

.btn:hover:before{
  content: "點按即表同意隱私權政策";
  position: absolute;
  top: -52px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4d46cc;
  color: white;
  text-wrap: nowrap;
  padding: 10px 20px;
  border-radius: 20px;
}

.btn:hover:after{
  content: "";
  border-top: 8px solid #4d46cc;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.box{
  width: 200px;
  /* height: 200px; */
  /* border-top: 100px solid #ffa; */
  /* border-right: 100px solid #aaf; */
  /* border-bottom: 100px solid #faa; */
  border-top: 200px solid transparent;
  border-left: 100px solid transparent;
  border-right: 100px solid #faa;
  border-bottom: 200px solid #faa;
}

.tt{
  font-size: 30px;
  color: #1aff00;
}

.clip{
  clip-path: polygon(40% 0%, 57% 43%, 100% 20%, 100% 80%, 57% 60%, 40% 100%, 0% 50%);

  width: 300px;
  height: 300px;

  background-color: #faa;
}