header{
  padding: 20px;
  background-color: #aaa;
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100%; */
  right: 0;
  /* opacity: 0.7; */
}

section{
  margin: 100px;
  margin-top: 64px;
}

.btn{
  padding: 20px;
  background-color: #faa;
}

.btn:hover{
  scale: 1.2;
}

.box{
  width: 300px;
  height: 300px;
  background-color: #ffa;
  position: fixed;
  /* opacity: 0.8; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.mask{
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  /* 1 */
  right: 0;
  bottom: 0;

  /* 2 */
  /* width: 100vw; */
  /* height: 100vh; */

  /* 1 */
  background-color: black;
  opacity: 0.4;

  /* 2 */
  /* background-color: rgba(0, 0, 0, 0.4); */

  z-index: 2;
}