section{
  margin: 100px;
}

header{
  background-color: #aaa;
}

nav{
  max-width: 1024px;
  padding: 10px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 100px;
  aspect-ratio: 4 / 3;
}

.logo-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-list{
  display: flex;
  gap: 10px;
}

.nav-link{
  /* display: inline-block; */
  /* height: 100%; */
  background-color: #faa;
}

/* 外面沒有包 div.logo */
/* .logo-img{
  width: 100px;
  aspect-ratio: 4 / 3;
  height: 100%;
  object-fit: cover;
} */

.nav-user{
  background-color: aquamarine;
  width: 75px;

  aspect-ratio: 1 / 1;
  border-radius: 100%;
  text-align: center;
  line-height: 75px;
  font-size: 36px;
  font-weight: bold;
}

.container{
  display: flex;
}

.sidebar{
  width: 15%;
  min-height: 100vh;
  background-color: #faf;
  /* 2. */
  display: flex;
  flex-direction: column;
}

.sidebar-link{
  /* 1. */
  /* display: block; */
}

.text{
  width: 85%;
  background-color: #aaf;
}

.box{
  background-color: #afa;
  /* width: 600px; */
  min-width: 200px;
  max-width: 800px;
}