section{
  margin: 100px;
}

.box-wrap{
  font-size: 0;
}

.box{
  display: inline-block;
  width: 300px;
  font-size: 16px;
}

.box1{
  background-color: #faf;
}

.box2{
  background-color: #fa0;
  /* display: none; */
  opacity: 0;
}

.box3{
  background-color: #aaf;
}

.popular-cards{
  width: 960px;
  margin: 0 auto;
  font-size: 0;
}

.popular-title{
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.card{
  width: 300px;
  background-color: antiquewhite;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  /* 2. */
  overflow: hidden;
}

.card-img{
  aspect-ratio: 4 / 3;
}

.card-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 1. */
  /* border-radius: 8px 8px 0 0; */
}

.card-content{
  padding: 20px;
  text-align: center;
}

.card-title, .card-price{
  font-size: 24px;
  font-weight: bold;
}

.card-text{
  text-align: left;
  margin: 10px 0;
}

.card-price{
  color: rgb(138, 51, 67);
}

.card-tags{
  margin: 10px 0;
}

.tag{
  display: inline-block;
  background-color: #aaa;
  padding: 4px 10px;
  border-radius: 4px;
}

.card-btn{
  width: 100%;
  background-color: #0af;
  color: white;
  border-radius: 4px;
  padding: 10px;
}