section{
  margin: 100px auto;
  max-width: 1200px;
  background-color: #aaa;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* gap: 20px; */
}

.container{
  /* margin: 0 -10px; */
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

/* .justify-content-center{
  justify-content: center;
} */

.card{
  /* width: 25%; */
  height: 300px;
  background-color: #aaf;
  /* padding: 10px; */
  border: 1px solid #000;
  margin: 0 8px;
}

.box{
  height: 200px;
  background-color: #fa0;
  border: 1px solid #000;
}
