:root{
  --default-color: #437ea8;
  --aaa: 16px;
}

section{
  margin: 100px;
}

.box{
  width: 300px;
  height: 300px;
  background-color: #faa;
  overflow: auto;
  /* visibility: hidden; */
  /* opacity: 0; */
  box-shadow: 10px 10px red;
  border-radius: 10px;
}


.object{
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.company{
  max-width: 1200px;
  padding: 16px 32px;
  margin: 100px auto;
  background-color: var(--aaa);
}

.card-wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card{

  /* width: 23.6%; */
  width: calc(25% - 15px);
  /* flex-basis: 25%; */
  border: 1px solid #aaa;
  padding: var(--aaa);
}

.card-header{
  display: flex;
  align-items: center;
  gap: var(--aaa);
  margin-bottom: var(--aaa);
}

.card-img-wrap{
  width: 60px;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  border: 1px solid #aaa;
  border-radius: 12px;
  overflow: hidden;
}

.card-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-tags{
  margin: 16px 0;
  display: flex;
}

.card-link{
  display: inline-block;
  width: 100%;
}